# Python Cache
__pycache__

# Virtual Environment
.venv

# Poetry Lock File
poetry.lock

# VSCode
.vscode

# Pytest Cache
.pytest_cache

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Users
users.db